<!--ここからナビゲーションより上部を作る-->    
    <header>
        <div class="top" id= "home">
            <%= image_tag("Mypicture.jpg", :id=> "icon") %>
            <span id="myname">吉川　徹</span>
        　　 <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="https://twitter.com/?logout=1553993855500"_blank">Twitter</a></li>
                    <li><a href="" target="_blank">Instagram</a></li>
                    <li><a href="https://www.facebook.com/" target="_blank">Facebook<a></li>
                </ul>
            </nav>
        </div>
    </header>
    
<!--ここから自己紹介文を書く-->    
    <div class="container">
        <h2>自己紹介</h2>
        <div class="profile">
            <p>現職：株式会社いけうち（産業用スプレーノズル、加湿システムの製造・販売）</p>
            <p>職種：営業（2018年10月から、海外営業）<br>仕事内容：お客様の問題を解決するための最適なスプレーノズル、加湿システムの提案</p>
            <p>ルート営業がメイン<p>
            <hr color = "black">
            <p>プログラミング勉強歴：4か月<br>初めはプロゲートにて学習。HTML, CSS, JSの基礎を習得。</p>
            <p>2018年12月から迫祐樹さんの「Skill Hacks」を購入し、<br>HTML, CSS, BootStrap, Ruby, Ruby on Railsを勉強。</p>
            <p></p>2019年2月から、みんスクでPHP, Javaの基礎を勉強。High & Lowゲームを作成。</p>
            <hr color = "black">
            <p>1994年1月9日生まれ</p>
            <p>兵庫県西宮市出身</p>
            <p>関西外国語大学外国語学部英米語学科卒業(2016年3月)</p>
            <p>教員免許状1種取得のため、2016年4月～2017年3月まで在学</p>
            <p>趣味：テニス（13年）、ビリヤード（4年）</p>
            <p>資格：TOEIC 805点（2016年1月）<br>　　　普通自動車免許取得(2017年2月）</p>
            <p>　　　中学・高校英語教員免許状1種取得（2017年3月）</p>
          </div>
    </div>
    
<!--ここからフッターを書く-->    
    <footer>
        <p>Copyright&copy; Toru Yoshikawa All Rights Reserved.</p>
    </footer>